header, nav, main, body{
    max-width: 1400px;
    margin: 0 auto; /*centers on page*/
}

nav{
    width: 300px;
    clear: both;
    padding-bottom: 20px;
    }

nav ul {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

nav li{
    display: inline; /*makes words horizontal since default is verticle*/
    float: left; /*gets the blocks to float next to each other*/
    background-color: #AAABB8;
    color: #464866;
}

nav ul li {
    display: block;
    text-align: center; /*centers text to middle of li element*/
}

nav ul li a {
    display: block;/*makes whole link a box to click not just the word*/
    padding: 10px 10px;
    width: 128px;  /* makes link boxes larger to that they are centered*/
    font-size: 85%;
    text-decoration: none; /*removes line under link*/
}

nav ul li a:hover {
    background-color: #2E9CCA; /*when mouse is on nav link it will be this color*/
    color: #25274D;
}
nav ul li.active a {
    background-color: #29648A; /*makes current page link color*/
    color: #AAABB8;
}

h1 {
    text-align: center;
    background-color: #25274D;
    color: #AAABB8;
    font-size: 40px;
}

h2  {
    text-align: center;
    background-color: #25274D;
    color: #AAABB8;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #25274D;
  color: #AAABB8;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2E9CCA;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-top: 20px;
  padding: 20px;
}

.grid-item {

  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#myList{
    height: 100px;
    overflow: auto;

}
