/* CS 313 */

div:hover{
    font-weight: bold;
}

.first{
    font-size: 25px;
    background: azure;

}

.second{
    font-size: 35px;
     background-color: lightcyan;
}

.third{
    font-size: 15px;
     background-color: lightblue;

}

.firstBtn{
    border-radius: 8px;
    background-color: white;
    border: 3px solid #008CBA;
    padding: 12px 28px;
    transition-duration: .5s;
}

.firstBtn:hover{
    background-color: #008CBA;
    color: white;
}

.secondBtn{
    border-radius: 8px;
    background-color: white;
    border: 3px solid #008CBA;
    padding: 12px 28px;
    transition-duration: .5s;
}

.secondBtn:hover{
    background-color: #008CBA;
    color: white;
}
