/* CS 313 */

.first{
    font-family: "Commic Sans MS"

}

.second{

}

.thrid{


}

.firstBtn{
    border-radius: 8px;
    background-color: white;
    border: 3px solid #008CBA;
    padding: 12px 28px;
    transition-duration: .5s;
}

.firstBtn:hover{
    background-color: #008CBA;
    color: white;
}

.thrirdBtn{
    border-radius: 8px;
    background-color: white;
    border: 3px solid #008CBA;
    padding: 12px 28px;
    transition-duration: .5s;
}

.thrirdBtn:hover{
    background-color: #008CBA;
    color: white;
}
