/* CS 313 */

header, nav, main {
    max-width: 1400px;
    margin: auto; /*centers on page*/
}

header img {
    width: 200px;
    height: auto;
    float: left;
}

nav button {
        display: block;
        margin: 3px;
}
    nav ul {
    display: block;
    list-style-type: none; /*removes bullets*/
    padding: 2px;
    margin: 2px;
}
    nav ul li {
    /*display: none;*/
    text-align: center; /*centers text to middle of li element*/
}
    nav ul li a {
        text-decoration: none; /*removes line under link*/
        color: #262228; /* makes the words dark*/
}
div:hover{
    font-weight: bold;
}

#first{
    font-size: 25px;
    background: azure;

}

#second{
    font-size: 35px;
     background-color: lightcyan;
}

#third{
    font-size: 15px;
     background-color: lightblue;
}

.firstBtn{
    border-radius: 8px;
    background-color: white;
    border: 3px solid #008CBA;
    padding: 12px 28px;
    transition-duration: .5s;
}

.firstBtn:hover{
    background-color: #008CBA;
    color: white;
}

.secondBtn{
    border-radius: 8px;
    background-color: white;
    border: 3px solid #008CBA;
    padding: 12px 28px;
    transition-duration: .5s;
}

.secondBtn:hover{
    background-color: #008CBA;
    color: white;
}

h1 {
    text-align: center;
    background-color: darkgreen;
    color: ghostwhite;
    font-size: 40px;
}

table {
    width: 70%;
    margin: auto;
}

caption {
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

thead {
    border: 5px solid black;
}

th,tr,td {
    text-align: left;
    padding: 5px
}

tr:nth-child(odd){
  background-color: darkseagreen;
}

tr:hover {
    background-color: darkblue;
    color: azure;
}

