/* CS 313 */

header, nav, main, body{
    max-width: 1400px;
    margin: auto; /*centers on page*/
}

header img {
    width: 200px;
    height: auto;
    float: left;
    padding: inherit;
}

.php {
    text-align: center;
}

nav{
    margin: 0 auto;
    width: 870px;
    clear: both;
    }

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{
    display: inline; /*makes words horizontal since default is verticle*/
    float: left; /*gets the blocks to float next to each other*/
    background-color: #3AAFA9;
    color: #FEFFFF;
}
nav ul li {
    display: block;
    text-align: center; /*centers text to middle of li element*/
}
nav ul li a {
    display: block;/*makes whole link a box to click not just the word*/
    padding: 10px 10px;
    width: 128px;  /* makes link boxes larger to that they are centered*/
    font-size: 85%;
    text-decoration: none; /*removes line under link*/
}
nav ul li a:hover {
    background-color: #FEFFFF; /*when mouse is on nav link it will be this color*/
    color: #17252A;
}
nav ul li.active a {
    background-color: #17252A; /*makes current page link blue*/
    color: #FEFFFF;
}
