/* CS 313 */

header, nav, main, body{
    max-width: 1400px;
    margin: auto; /*centers on page*/
}

header img {
    width: 200px;
    height: auto;
    float: left;
    padding: inherit;
}

#php {
    float: right;
}

nav{
    margin: 0 auto;
    width: 300px;
    clear: both;
    padding-bottom: 20px;
    }

nav ul {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

nav li{
    display: inline; /*makes words horizontal since default is verticle*/
    float: left; /*gets the blocks to float next to each other*/
    background-color: #3AAFA9;
    color: #FEFFFF;
}

nav ul li {
    display: block;
    text-align: center; /*centers text to middle of li element*/
}

nav ul li a {
    display: block;/*makes whole link a box to click not just the word*/
    padding: 10px 10px;
    width: 128px;  /* makes link boxes larger to that they are centered*/
    font-size: 85%;
    text-decoration: none; /*removes line under link*/
}
nav ul li a:hover {
    background-color: #FEFFFF; /*when mouse is on nav link it will be this color*/
    color: #17252A;
}
nav ul li.active a {
    background-color: #17252A; /*makes current page link color*/
    color: #FEFFFF;
}

h1 {
    text-align: center;
    background-color: #2B7A78;
    color: #DEF2F1;
    font-size: 40px;
}

h2  {
    text-align: center;
    background-color: #2B7A78;
    color: #DEF2F1;
}

table {
    width: 70%;
    margin: auto;
}

caption {
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

thead {
    border: 5px solid black;
}

th,tr,td {
    text-align: left;
    padding: 5px
}

tr:nth-child(odd){
  background-color: #DEF2F1;
}

.home{/*home page*/
        margin-top: 10px;
    }

.index{
    display: flex;
}

.index > div {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin: 10px;
}

.cart{/*shopping cart program - ck out pg and confirm pg*/
    text-align: center;
    width: 50%;
    padding: 10px;
    margin: 10px;

}

